.sobre-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 20px;
    align-items: center;
    box-sizing: border-box;
    display: grid;
    gap: 20px;
}
.sobre-container p{
    line-height: 1.5;
}
.sobre-container h2{
    
    color: #daa520;
}
